body {
    margin: 0;
    padding: 0;
    font-family: arial;


    #topbar {
        background-color: #5755d9;
        padding: 15px;
        color: white;
        font-size: 20px;
    }

    #content {
        padding: 15px;
    }

    .hidden {
        opacity: 0;
        display: none;
    }
}
