<template name="app-root">
    <div id="app-root">
        <div id="topbar">
            <router-view
                name="topbar"
                @toggle_menu="toggle_menu">
            </router-view>
        </div>
        <div id="menu">
            <app-menu :class="{ 'hidden': menu_hidden }"
                @toggle_menu="toggle_menu"
            ></app-menu>
        </div>
        <div id="content">
            <router-view
                name="content">
            </router-view>
        </div>
    </div>
</template>

<script>
    module.exports = {
        data: () => {
            return {
                menu_hidden: false
            }
        },
        components: {
            "app-menu": app.load_component("app/components/menu/default.vue")
        },
        methods: {
            toggle_menu: function(){
                this.menu_hidden = !this.menu_hidden;
            }
        }
    }
</script>

<style scoped>
    #topbar {
        position: fixed;
        width: 100%;
        z-index: 10;
        top: 0;
    }
    #menu
    {
        position: absolute;
        z-index: 5;
        background-color: white;
        box-shadow: 0px 0px 2px black;
        width: 50%;
    }
    #content
    {
        margin-top: 55px;

    }
</style>
