<template name="menu-default">
    <div class="menu-default-content">
        <ul class="menu">
           <li class="menu-item" @click="go_to('/')" >
                <a href="#">
                    <i class="icon icon-flag"></i> &nbsp; Homepage
                </a>
          </li>

          <li class="menu-item" @click="go_to('/page1')">
                <a href="#">
                    <i class="icon icon-bookmark"></i> &nbsp; Page 1
                </a>
          </li>
      </ul>
    </div>
</template>

<script>
    module.exports = {
        methods: {
            toggle_menu () {
                var self = this;
                setTimeout(function(){
                    self.$emit("toggle_menu");
                }, 100);
            },
            go_to (page) {
                var self = this;
                this.$router.push(page);
                this.toggle_menu();
            }
        }
    }
</script>

<style scoped>
    .icon-menu:active {
        color: rgb(234,234,234);
    }
    a {
        text-decoration: none;
    }
</style>
