<template name="topbar-default">
    <div class="topbar-content">
        <i class="icon icon-menu" @click="openMenu"></i>
         &nbsp; &nbsp;
        <span>Vue Template</span>
    </div>
</template>

<script>
    module.exports = {
        methods: {
            openMenu() {
                this.$emit("toggle_menu", "");
            }
        }
    }
</script>

<style scoped>
    .icon-menu:active {
        color: rgb(234,234,234);
    }


</style>
