<template name="page1-view">
    <div class="page1-content">
        This is page 2.
        <br />
        <router-link to="/">
            Go back
        </router-link>
    </div>
</template>

<script>
    module.exports = {

    }
</script>

<style scoped>
    .icon-menu:active {
        color: rgb(234,234,234);
    }
</style>
