<template name="app-root-view">
    <div id="app-root-content">
        Splash View
        <br /><br />
        <router-link to="/page1">
            <button class="btn btn-primary">Go to Page 1</button>
        </router-link>
    </div>
</template>

<script>
    module.exports = {

    }
</script>

<style scoped>

</style>
